body {
    font-family: 'Fira Sans', serif !important;
    font-size: 1.7rem;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    color: black !important;
}

li {
    list-style-type: square;
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

#navbar {
    height: 4rem;
    padding: 1rem;
    background-color: #000000;
}

#navbar .navbar-brand {
    color: white;
    font-weight: bold;
}

#navbar .nav-item a {
    font-size: 0.9rem;
    color: black;
}

#photo {
    border: solid 1px black;
    max-width: 300px;
    max-height: 300px;
}

.inactive {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-black-text-white {
    background-color: #000000;
    color: #ffffff;
}

.bg-red-text-white {
    background-color: #ea4335;
    color: #ffffff;
}

.link-black {
    color: #000000;
}

.link-black:hover {
    color: #000000;
    text-decoration: none;
}

.horizontal-padding {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.skills .bg-black-text-white {
    padding-left: 0.15rem;
    padding-right: 0.15rem;

    font-size: 0.9rem;
}

.job-info {
    margin-bottom: 1rem;
}

.job-link {
    font-size: 1rem;
}

.job-years {
    color: #353535;
    font-size: 0.8rem;
}

.job-responsibilities {
    padding-left: 1.5rem;
}

.job-skill {
    border: solid 1px black;
    padding-left: 0.15rem;
    padding-right: 0.15rem;;
}

/* Makes Bootstrap jumbotron transparent, borderless and sets custom padding and margin */
.jumbotron.jumbotron-modified {
    background-color: transparent;
    border-radius: 0;
    padding-bottom: 0;
    padding-top: 1.5rem;
    margin-top: 3rem;
}

/* Makes Bootstrap cards transparent and borderless */
.card.card-modified {
    background-color: transparent;
    border: 0;
}
