.Header.navbar {
    /*background-color: #000000;*/
    background-color: #1d1d1d;
}

.Header .navbar-brand {
    color: #ebebeb;
    font-weight: bold;
}

.Header .nav-item a {
    font-size: 0.9rem;
    color: #ebebeb;
}

.Header a {
    color: #ebebeb !important;
}
